.corki-btn {
    outline: 0;
    position: relative;
    display: inline-block;
    font-weight: 400;
    white-space: nowrap;
    text-align: center;
    background-image: none;
    border: 1px solid transparent;
    -webkit-box-shadow: 0 2px 0 rgba(0,0,0,0.015);
    box-shadow: 0 2px 0 rgba(0,0,0,0.015);
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    height: 32px;
    padding: 0 15px;
    font-size: 14px;
    border-radius: 4px;
    color: rgba(0,0,0,0.65);
    background-color: #fff;
    border-color: #d9d9d9;
    border-style: solid;
    border-width: 1px;
}


.corki-btn-primary {
    color: #fff;
    background-color: #1890ff;
    border-color: #1890ff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.12);
    -webkit-box-shadow: 0 2px 0 rgba(0,0,0,0.045);
    box-shadow: 0 2px 0 rgba(0,0,0,0.045);
}


.corki-btn-disabled {
    cursor: not-allowed;
    color: rgba(0,0,0,0.25);
    background-color: #f5f5f5;
    border-color: #d9d9d9;
    text-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.corki-btn-danger {
    color: #fff;
    background-color: red;
    border-color: red;
    text-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.corki-btn-primary.focus, .corki-btn-primary:hover {
    color: #fff;
    background-color: #40a9ff;
    border-color: #40a9ff;
}

.corki-btn-default:focus, .corki-btn-default:hover {
    color: #40a9ff;
    background-color: #fff;
    border-color: #40a9ff;
}

.corki-btn-disabled:focus, .corki-btn-disabled:hover {
    color: rgba(0,0,0,0.25);
    background-color: #f5f5f5;
    border-color: #d9d9d9;
}