.corki-preview {
    height: 100%;
}

.corki-preview-content {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10000;
    overflow: hidden;
    outline: 0;
    user-select: none;
}

.corki-preview-img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.corki-preview-tooltip {
    background-color: rgba(0,0,0,.8);
    border-radius: 10px;
    color: #fff;
    font-size: 12px;
    height: 20px;
    left: 50%;
    line-height: 20px;
    margin-left: -25px;
    margin-top: -10px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 50px;
    z-index: 1001;
}

.corki-select-cursor {
    cursor: move;
    cursor: grab;
}

.corki-preview-close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 24px;
    cursor: pointer;
}

.corki-preview-mask {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.65);
    opacity: .6;
    z-index: 9998;
}